div {
    position: fixed;
    left: 0;
    top: 0;
    height: 50%;
    background-color: blue;
}

p {
    height: 50%;
    background-color: lightblue;
    margin: 20px;
}

button {
    margin: 20px;

}