* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#principal {
    background-color: #d99b86;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botonReglas {
    background-color: lightsteelblue;
    border: 0.1em solid black;
    padding: 1em 5em;
    border-radius: 2em;
}