* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(184, 234, 238);
}

main {
    display: flex;
    align-items: center;
}

.columna1,
.columna2,
.columna3,
.columna4,
.columna5,
.columna6,
.columna7,
.columna8,
.columna9 {
    padding: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.celda {
    border: 1px solid black;
    border-style: dotted;
    height: 3vh;
    width: 7vw;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.datos1 .celda,
.datos2 .celda {
    border: none;
}

#columna10 {
    text-align: center;
}

.datos1 .celda {
    justify-content: end;
}

.datos2 .celda {
    justify-content: start;
}

.datos1 .celda,
.datos2 .celda,
div {
    font-weight: bolder;
}