* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.mazo, .carta {
    width: 100px;
    height: 150px;
    margin: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    position: relative;
}

.carta {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
}

.cartas {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}

.numero {
    position: absolute;
    top: 5px;
    left: 5px;
}

.numero-invertido {
    position: absolute;
    bottom: 5px;
    right: 5px;
    transform: rotate(180deg);
}

.imagen-carta {
    max-width: 65%;
    max-height: 100%;
}

.mazo-img {
    position: absolute;
    left: 0;
}

img {
    width: 100px;
}

.mazo-img-1 {
    left: 5px;
}

.mazo-img-2 {
    left: 10px;
}
