body {
    background-color: #c69f9f;
    box-sizing: border-box;
}

#padre {
    background-color: rgba(118, 23, 44, 0.4);
    border: 1px solid black;
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;

}

.columnas {
    background-color: rgba(205, 25, 64, 0.4);
    border: 1px solid black;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.bloque {
    width: 100%;
    border: 1px solid black;
    height: 80px;
    background-color: #849fca;
    align-items: center;
}

.columnas div:first-child {
    background-color: white;
    height: 40px;

}

