* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

#imagenesArriba {
    height: 15vh;
    background-color: mediumspringgreen;
}

#imagenesAbajo {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: mediumspringgreen;
    align-items: center;
}

#cuerpo {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.juego {
    margin: 2vh;
    height: 10vh;
}
