* {
    box-sizing: border-box;
}

#padre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

#padre div:first-child {
    font-size: 2rem;
    margin-bottom: 5%;
}

#hijo {
    display: flex;
    flex-direction: column;
    width: 50%;

}

#mensaje {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#select {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

#start {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
    background-color: rgb(157, 220, 157);
}